﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        const FbComment = {
            data: [],
            total: 0
        };

        $('#btnupload').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fileupload').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                    return false;
                }
            }
            var fdata = new FormData();
            var fileUpload = $("#fileupload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: "/Home/Import",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    //if (response.length == 0)
                    //    alert('Some error occured while uploading');
                    //else {
                    //    $('#divPrint').html(response);
                    //}
                    if (response.status) {
                        FbComment.data = response.result;
                        FbComment.total = response.result.length;

                        showData(FbComment.data);
                    } else {
                        $('#divPrint').html(response.message);
                    }
                },
                error: function (e) {
                    $('#divPrint').html(e.responseText);
                }
            });
        });
        $("#filter_phone").click((e) => {
            showData(FbComment.data);
            //var isCheck = $(e.currentTarget).is(":checked");
            //if (isCheck) {
            //    var dataComments = $.grep(FbComment.data, function (x) {
            //        return x.phoneNumber !== "" && x.phoneNumber !== null;
            //    });
            //    let html = showData(dataComments);
            //    $('#divPrint').html(html);
            //    $("#total_item").html(dataComments.length);

            //} else {
            //    let html = showData(FbComment.data);
            //    $('#divPrint').html(html);
            //    $("#total_item").html(FbComment.total);
            //}
        });

        $("#btn-filter").click((e) => {
            showData(FbComment.data);
            //if (keyword) {
            //    var dataComments = $.grep(FbComment.data, function (x) {
            //        return (x.comment && x.comment.toLowerCase().indexOf(keyword.toLowerCase()) > -1)
            //            || (x.fbName && x.fbName.toLowerCase().indexOf(keyword.toLowerCase()) > -1)
            //            || (x.phoneNumber && x.phoneNumber.toLowerCase().indexOf(keyword.toLowerCase()) > -1);
            //    });
            //    let html = showData(dataComments);
            //    $('#divPrint').html(html);
            //    $("#total_item").html(dataComments.length);

            //} else {
            //    let html = showData(FbComment.data);
            //    $('#divPrint').html(html);
            //    $("#total_item").html(FbComment.total);
            //}
        });

        $("#text_search").keyup(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                showData(FbComment.data);
                return false;
            }
        });

        function showData(data) {
            let html = "";
            var keyword = $("#text_search").val();
            var checkHasPhone = $("#filter_phone").is(":checked");
            console.log("checkHasPhone", checkHasPhone);
            console.log("keyword", keyword);
            var dataComments = $.grep(data, function (x) {
                return (keyword == null || keyword == undefined || keyword == "" || ((x.comment && x.comment.toLowerCase().indexOf(keyword.toLowerCase()) > -1)
                    || (x.fbName && x.fbName.toLowerCase().indexOf(keyword.toLowerCase()) > -1)
                    || (x.phoneNumber && x.phoneNumber.toLowerCase().indexOf(keyword.toLowerCase()) > -1)))
                    && (checkHasPhone == false || (x.phoneNumber !== null && x.phoneNumber.trim() != ""));
            });

            for (var i = 0; i < dataComments.length; i++) {
                let item = dataComments[i];
                html += ` <tr>
                                <td>${item.fbName}</td>
                                <td>${item.fbId}</td>
                                <td>${item.asuId}</td>
                                <td><span title="${item.comment}">${item.comment.replace(/(\r\n|\n|\r)/gm, "<br>")}</span ></td >
                                <td>${item.phoneNumber}</td>
                            </tr>`;
            };

            $('#divPrint').html(html);
            $("#total_item").html(dataComments.length);
        }
        $('#btnExport').on('click', function () {
            //var fileExtension = ['xls', 'xlsx'];
            //var filename = $('#fileupload').val();
            //if (filename.length == 0) {
            //    alert("Please select a file then Import");
            //    return false;
            //}

            var keyword = $("#text_search").val();
            var checkHasPhone = $("#filter_phone").is(":checked");
            console.log("checkHasPhone", checkHasPhone);
            console.log("keyword", keyword);
            window.location = '/Home/Export?isHasPhone=' + checkHasPhone + '&keyword=' + keyword;
            //var request = {
            //    isHasPhone: checkHasPhone,
            //    keyword: keyword
            //}
            //$.ajax({
            //    type: "POST",
            //    url: "/Home/Export",
            //    data: request,
            //    success: function (response) {
            //    },
            //    error: function (e) {
            //        console.log(e.responseText);
            //    }
            //});
        });
    });

</script>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <form asp-controller="Home" asp-action="Export">
                <div class="row">
                    <div class="col-md-4">
                        <input type="file" id="fileupload" name="files" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" name="Upload" value="Tải file" id="btnupload" class="btn btn-primary" />
                        @*<a href="@Url.Action("Download", "Home")">Download</a>*@
                    </div>
                    @*<div class="col-md-3">
                <input type="submit" name="Export" value="Create and Export" id="btnExport" class="btn btn-primary" asp-action="Export" />
            </div>*@
                </div>
            </form>
        </div>
        <div class="col-md-2 text-right">
            <button name="Export" id="btnExport" class="btn btn-primary">Xuất file</button>
        </div>
    </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="filter_phone">
                <label class="form-check-label" for="flexCheckDefault">
                    Lọc bình luận có số điện thoại
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="text_search" placeholder="Lọc theo từ khóa">
                <span class="input-group-text" id="btn-filter">Lọc</span>
            </div>
        </div>
        <div class="col-lg-4 text-right">
            Hiển thị tổng số <span id="total_item">0</span> sản phẩm
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>UId</th>
                    <th>ASUId</th>
                    <th>Nội dung</th>
                    <th>SĐT</th>
                </tr>
            </thead>
            <tbody id="divPrint">
                @*@foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FbName</td>
                            <td>@item.FbId</td>
                            <td>@item.ASUId</td>
                            <td>@Html.Raw(item.Comment)</td>
                            <td>@item.PhoneNumber</td>
                        </tr>
                    }*@
            </tbody>
        </table>
    </div>
</div>